# Visual C++ cache files
ipch/
Midstone Framework/.vs/Midstone Framework/v16/.suo
Midstone Framework/.vs/Midstone Framework/v16/Browse.VC.db
Midstone Framework/.vs/Midstone Framework/v16/.suo
Midstone Framework/.vs/Midstone Framework/v16/.suo
